/* :default */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #fff;
}

/* sections */

/* section-social */

.social {
    background: #F8EFEF;
}

.social__container {
    display: flex;
    align-items: center;
}

.social__title {
    margin-left: 170px;
}

.social__subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    padding-top: 18px;
    padding-bottom: 18px;
}

.social_text {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #86878B;
    margin-top: 18px;
    margin-bottom: 18px;
}

img {
    width: 70px;
    height: 70px;
    margin-left: 35px;
    color: #CCCCCC;
}

.social__img {
    display: flex;
    margin-left: 30px;
}

/* section-design */

.design__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('assets/design/design-bg.png');
    background-size: cover;
    z-index: 1;
}

.design__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 0;
}

.design__title {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    padding-top: 57px;
    padding-bottom: 57px;
    margin-bottom: 40px;
    z-index: 2;
}

.design__title::after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    width: 170px;
    height: 1px;
    background: currentColor;
    z-index: 3;
}

.design__subtitle {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 73px;
    z-index: 4;
}

.design__link {
    font-family: "Open-sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 370px;
    margin: 0 auto;
    z-index: 5;
}