/* :default */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #fff;
}

/* header  */

.header {
    background: #000000;
}

.header__iner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-left: 115px;
}

.header_menu {
    display: flex;
    list-style: none;
    margin: 0 auto;
    margin-right: 170px;
    cursor: pointer;
}

.header__menu-item {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 60px;
}

.header_menu-link {
}

/* sections */

/* section-promo */

.promo {
    background-image: url(./assets/promo/bg-promo.png);
    background-size: cover;
    position: relative;
    z-index: 1;
}

.promo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 0;
}

.promo__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 208px;
    padding-bottom: 185px;
    z-index: 2;
}

.promo__content {
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.logo__title {
    z-index: 4;
}

.promo__title {
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    position: relative;
    padding-bottom: 55px;
    color: #ffffff;
    z-index: 5;
}

.promo__title::after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 170px;
    height: 1px;
    background: currentColor;
    z-index: 6;
}

.promo__subtitle {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-top: 42px;
    margin-bottom: 42px;
    color: #fff;
    z-index: 7;
}

.promo__button {
    font-family: "Open-sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-clip: content-box;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 270px;
    cursor: pointer;
    z-index: 8;
}

.promo__card {
    display: flex;
    flex-direction: column;
    height: 390px;
    background: #ffffff;
    margin-left: 30px;
    border-radius: 10px 10px 0px 0px;
    z-index: 9;
}

.promo__card-title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    color: #333333;
    padding-top: 33px;
    padding-bottom: 33px;
    margin-left: 53px;
    margin-right: 50px;
    z-index: 10;
}

.promo__color-text {
    color: #EC7979;
}

.promo__inputs {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-bottom: 34px;
}

.promo__input {
    color: #BDBDBD;
    width: 370px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 16px;
    border: none;
}

hr {
    width: 370px;
    height: 1px;
    background: currentColor;
}

.promo__button-card {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    background: #EC7979;
    border: none;
    border-radius: 0px 0px 10px 10px;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    cursor: pointer;
}

/* section-social */

.social {
    background: #F8EFEF;
}

.social__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.social__title {
    margin-left: 170px;
}

.social__subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    padding-top: 18px;
    padding-bottom: 18px;
}

.social_text {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #86878B;
    margin-top: 18px;
    margin-bottom: 18px;
}

.social__img {
    width: 70px;
    height: 70px;
    margin-left: 35px;
}

.social__images {
    margin-left: 30px;
}

/* section-benefits */

.benefits__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.benefits__title {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    padding-top: 57px;
    padding-bottom: 57px;
    margin-bottom: 40px;
}

.benefits__title::after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    width: 170px;
    height: 1px;
    background: #EC7979;
}

.benefits__text {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #86878B;
    margin-bottom: 71px;
}

.benefits__row {
    display: flex;
    flex-direction: row;
}

.benefits__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.benefits__img {
    width: 170px;
    height: 170px;
}

.benefits__card-title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    padding-top: 38px;
    padding-bottom: 38px;
    margin-bottom: 8px;
}

.benefits__card-descr {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 58px;
}

/* section-design */

.design__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('assets/design/design-bg.png');
    background-size: cover;
    z-index: 1;
}

.design__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 0;
}

.design__title {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    padding-top: 57px;
    padding-bottom: 57px;
    margin-bottom: 40px;
    z-index: 2;
}

.design__title::after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    width: 170px;
    height: 1px;
    background: currentColor;
    z-index: 3;
}

.design__text {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 73px;
    z-index: 4;
}

.design__button {
    font-family: "Open-sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background: transparent;
    border: 2px solid #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 370px;
    margin: 0 auto;
    cursor: pointer;
    z-index: 5;
}

/* footer */

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
}

.footer__links {
    margin-top: 35px;
}

.footer__link {
    width: 53.2px;
    height: 53.2px;
    margin-left: 32.8px;
    cursor: pointer;
}

svg path:hover {
    fill: #EC7979;
}

.footer__text {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 32.23px;
    margin-bottom: 27px;
}