/* default */
* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #fff;
}

img {
    display: block;
    max-width: 100%;
}

:root {
    --content-width: 1170px;
    --mobile-padding: 16px;
    --gutter: 20px;
}

/* components start */

.container {
    margin-left: 15px;
    margin-right: 15px;
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-4 {
    margin: 0 auto;
    width: calc(100% / 12 * 4 - 30px);
}

.col-5 {
    margin: 0 auto;
    width: calc(100% / 12 * 5 - 30px);
}

.col-6 {
    margin: 0 auto;
    width: calc(100% / 12 * 6 - 30px);
}

.col-7 {
    margin: 0 auto;
    width: calc(100% / 12 * 7 - 30px);
}

.col-12 {
    margin: 0 auto;
    width: calc(100% / 12 * 12 - 30px);
}

.section-head__title {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    padding-top: 57px;
    padding-bottom: 57px;
    margin-bottom: 40px;
    margin-top: 50px;
}

.section-head__title::after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    width: 170px;
    height: 1px;
    background: #EC7979;
}

.section-head__text {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #86878B;
    margin-bottom: 71px;
}

.section-form__inputs {
    margin-top: 45px;
    margin-bottom: 75px;
}

.section-form__input {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    width: 370px;
    font-size: 14px;
    color: #BDBDBD;
    outline: none;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 33px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

.button-outline {
    font-family: "Open-sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-clip: content-box;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 270px;
    cursor: pointer;
}

.button-prime {
    font-family: "Open-sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background: #EC7979;
    border: none;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 270px;
    cursor: pointer;
}

/* components end */

/* header start */

.header {
    background: #000000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
}

.header__menu {
    display: flex;
    list-style: none;
    margin: 0 auto;
}

.header__menu-item {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 60px;
}

.header__menu-link {
    text-decoration: none;
}

/* header end */

/* Sections */

/* section promo start*/

.promo {
    background-image: url('/assets/images/promo/bg-promo.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 208px;
    padding-bottom: 185px;
}

.promo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 0;
}

.promo__content {
    position: relative;
}

.promo__logo {
    width: 270px;
    height: 100px;
}

.promo__title {
    max-width: 670px;
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    position: relative;
    padding-bottom: 55px;
    color: #ffffff;
    z-index: 2;
}

.promo__title::after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 170px;
    height: 1px;
    background: currentColor;
}

.promo__subtitle {
    max-width: 270px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-top: 42px;
    margin-bottom: 42px;
    color: #fff;
}

.promo__form {
    display: flex;
    align-self: flex-start;
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    margin-left: 30px;
    max-width: 470px;
}

.promo__form-title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #333333;
    padding-top: 33px;
    padding-bottom: 33px;
    margin: 0 auto;
}

.promo__form-colortext {
    color: #EC7979;
}

.promo__form-input:first-child {
    padding-top: 0;
}

.promo__form-btn {
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.promo__form-btn:hover {
    background: #AB4949;
    transition: 0.3s;
}

/* section promo end */

/* section social */

.social {
    background: #F8EFEF;
}

.social__subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    padding-top: 18px;
    padding-bottom: 18px;
}

.social__text {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #86878B;
    padding-top: 18px;
    padding-bottom: 18px;
}

.social__links {
    display: flex;
    align-items: center;
}

.social__links-item {
    list-style: none;
    margin-left: 30px;
}

.social__links-img {
    width: 70px;
    height: 70px;
}

.social__links-item:nth-child(1) {
    margin-left: 0;
}

/* section social end */

/* section tabs start */

.tabs__container {
    margin: 0 auto;
}

.tabs__container>input[type="radio"] {
    display: none;
}

.tabs__container>div {
    /* скрыть контент по умолчанию */
    display: none;
    border: 1px solid #e0e0e0;
    font-size: 16px;
}

  /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab__btn-1:checked~#tabs__content-1, #tab__btn-2:checked~#tabs__content-2, #tab__btn-3:checked~#tabs__content-3 {
    display: block;
}

.tabs__container>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 10px 65px 10px 65px;
    margin-top: 100px;
    line-height: 19px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.tabs__btn {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.tabs__container>label:not(:first-of-type) {
    border-left: none;
}

.tabs__container>input[type="radio"]:checked+label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.tabs__content {
    display: flex;
    flex-wrap: wrap;
}

.tabs__content-title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    padding-top: 47px;
    padding-bottom: 47px;
}

.tabs__content-desc {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px
}

.tabs__content-btn {
    margin-top: 27px;
}

.tabs__content-btn:hover {
    background: #AB4949;
    transition: 0.3s;
}

/* section tabs end */

/* section benefits start*/

.benefits__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.benefits__img {
    width: 170px;
    height: 170px;
}

.benefits__card-title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    padding-top: 38px;
    padding-bottom: 38px;
    margin-bottom: 8px;
}

.benefits__card-descr {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 58px;
}

/* section benefits end */

/* section pricing start*/

.pricing {
    background: #F5F5F5;
}

.pricing__card {
    margin-left: 15px;
    margin-right: 15px;
    transition: 0.3s;
    margin-bottom: 50px;
}

.pricing__card_active:hover {
    content: '';
    transform: translateY(-5%);
}

.pricing__card-title {
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    background: #333333;
    padding-top: 18px;
    padding-bottom: 18px;
}

.pricing__card-cost {
    height: 100px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
    background: #333333;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 2px solid #F5F5F5;
    border-bottom: 2px solid #F5F5F5;
}

.pricing__card-desc {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    background: #333333;
    padding-top: 16px;
    padding-bottom: 16px;
}

.pricing__card-space {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
    background: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 4px solid #f5f5f5;
    cursor: pointer;
}

/* section pricing end */

/* section reviews start */
.reviews__card {
    margin-bottom: 64px;
}

.reviews__card-text {
    position: relative;
    max-width: 370px;
    background: #E2E2E2;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 38px 20px 37px;
    border-radius: 10px;
}

.reviews__card-text::before {
    content: '';
    border-style: solid;
    border-width: 20px 15px 0 15px;
    border-color: #e2e2e2 transparent transparent transparent;
    position: absolute;
    bottom: 0%;
    transform: translateY(100%);
}

.reviews__person {
    display: flex;
    margin-top: 66px;
    align-items: center;
}

.reviews__person-img {
    width: 70px;
    height: 70px;
}

.reviews__person-information {
    margin-left: 30px;
}

.reviews__person-name {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding: 15px 0;
    margin-bottom: 15px;
}

.reviews__person-position {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

/* section reviews end */

/* section design start*/

.design {
    position: relative;
    background-image: url('/assets/images/design/design-bg.png');
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;
}

.design::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 0;
}

.design__title {
    position: relative;
    color: #fff;
}

.design__title::after {
    background: #fff;
}

.design__text {
    position: relative;
    color: #fff;
}

.design__button {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 370px;
}

/* section design end */

/* section contact start*/

.contact__form {
    display: flex;
    flex-wrap: wrap;
}

.contact__form-inputs {
    margin-top: 0;
    margin-bottom: 50px;
}

.contact__input {
    min-width: 570px;
    padding-top: 50px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.contact__input:first-child {
    padding-top: 0;
}

.contact__textarea {
    height: 200px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

.contact__button {
    display: inline-block;
    margin: 0 auto;
    width: 370px;
    height: 58px;
    margin-bottom: 50px;
}

.contact__button:hover {
    background: #AB4949;
    transition: 0.3s;
}

/* section contact end */

/* footer start*/

.footer {
    display: flex;
    background: #000000;
}

.footer__links {
    display: flex;
    margin-top: 35px;
}

.footer__links-item {
    margin-left: 32px;
}

.footer__links-item:first-child {
    margin-left: 0;
}

svg:hover path {
    transition: 0.3s;
    fill: #EC7979;
}

.footer__copyright {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 32.23px;
    margin-bottom: 27px;
}

/* footer end */