/* default */

:root {
    --accentcolor: #EC7979;
    --button-hover-color: #AB4949;
    --text-color: #86878B;
    --pricing-bg-color: #F5F5F5;
    --reviews-card-bg-color: #E2E2E2;
    --social-bg-color: #F8EFEF;
    --content-width: 1170px;
    --mobile-padding: 16px;
    --gutter: 15px;
}

@media (max-width: 1200px) {
    :root {
        --gutter: 10px;
    }
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #fff;
}

img {
    display: block;
    max-width: 100%;
}

/* components start */

.container {
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
    margin: 0 auto;
    max-width: calc(var(--content-width) + var(--mobile-padding) * 2);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 - var(--gutter);
}

.col-1 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 1 - var(--gutter) * 2);
}

.col-2 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 2 - var(--gutter) * 2);
}

.col-3 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 3 - var(--gutter) * 2);
}

.col-4 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 4 - var(--gutter) * 2);
}

.col-5 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 5 - var(--gutter) * 2);
}

.col-6 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 6 - var(--gutter) * 2);
}
/* lg */
@media (max-width: 1200px) {
    .col-lg-6 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 6 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-6 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 6 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-6 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 6 - var(--gutter) * 2);
    }
    .col-sm-12 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 12 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-6 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 6 - var(--gutter) * 2);
    }
}

@media (max-width: 560px) {
    .col-xs-12 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 12 - var(--gutter) * 2);
    }
}

.col-7 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 7 - var(--gutter) * 2);
}

.col-8 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 8 - var(--gutter) * 2);
}

.col-9 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 9 - var(--gutter) * 2);
}

.col-10 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 10 - var(--gutter) * 2);
}

.col-11 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 11 - var(--gutter) * 2);
}

.col-12 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 12 - var(--gutter) * 2);
}

.section-head__title {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    padding-top: 57px;
    padding-bottom: 57px;
    margin-bottom: 40px;
}

@media (max-width: 1200px) {
    .section-head__title {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .section-head__title {
        font-size: 20px;
    }
}

@media (max-width: 560px) {
    .section-head__title {
        font-size: 18px;
    }
}

.section-head__title::after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    width: 170px;
    height: 1px;
    background: var(--accentcolor);
}

@media (max-width: 1200px) {
    .section-head__title::after {
        width: 142px;
    }
}

@media (max-width: 768px) {
    .section-head__title::after {
        width: 138px;
    }
}

@media (max-width: 560px) {
    .section-head__title::after {
        width: 134px;
    }
}

.section-head__text {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 71px;
}

@media (max-width: 1200px) {
    .section-head__text {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .section-head__text {
        font-size: 14px;
    }
}

@media (max-width: 560px) {
    .section-head__text {
        font-size: 13px;
    }
}

.form-input {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    width: 100%;
    font-size: 14px;
    color: #BDBDBD;
    outline: none;
    padding-top: 33px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

.button-outline {
    font-family: "Open-sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-clip: content-box;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 270px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .button-outline {
        width: 184px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.button-prime {
    font-family: "Open-sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background: var(--accentcolor);
    border: none;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 270px;
    cursor: pointer;
}

.color-prime {
    color: var(--accentcolor);
}

/* components end */

/* header start */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.header_has-bg {
    background: var(--text-color);
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    position: relative;
}

.header__menu>li:hover .header__submenu {
    display: block;
}

.header__menu-item {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 60px;
}

.header__menu-link::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    border-bottom: 3px solid var(--accentcolor);
    border-right: 3px solid var(--accentcolor);
    margin-left: 10px;
    transform: rotate(45deg);
}

.header__menu-item_has-child {
    position: relative;
}

.header__menu-item:nth-child(1) {
    margin-left: 0;
}

.header__menu-link {
    text-decoration: none;
}

.header__submenu {
    position: absolute;
    top: 100%;
    padding: 10px;
    display: none;
    list-style: none;
    background-color: var(--accentcolor);
    border-radius: 10px;
    z-index: 2;
    transform: translateX(-10%);
}

.header__submenu>li:hover .header__secondsubmenu {
    display: block;
}

.header__submenu-link {
    display: inline-block;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__secondsubmenu {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: var(--accentcolor);
    border-radius: 10px;
    top: 24%;
    left: 110%;
    list-style: none;
}

.header__secondsubmenu-item {
}

.header__secondsubmenu-link {
    display: inline-block;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* header end */

/* Sections */

/* section promo start*/

.promo {
    background-image: url('../images/promo/bg-promo.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 208px;
    padding-bottom: 185px;
}

@media (max-width: 1200px) {
    .promo {
        padding-top: 137px;
        padding-bottom: 106px;
    }
}

@media (max-width: 560px) {
    .promo {
        padding-top: 85px;
        padding-bottom: 50px;
    }
}

.promo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 0;
}

.promo__content {
    display: flex;
    flex-direction: column;
    position: relative;
}

@media (max-width: 768px) {
    .promo__content {
        width: 100%;
        align-items: center;
    }
}

.promo__logo {
    width: 270px;
    height: 100px;
}

@media (max-width: 1200px) {
    .promo__logo {
        width: 184px;
        height: 75px;
    }
}

@media (max-width: 768px) {
    .promo__logo {
        display: none;
    }
}

@media (max-width: 560px) {
    .promo__logo {
        display: none;
    }
}

.promo__title {
    max-width: 670px;
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    position: relative;
    padding-bottom: 55px;
    color: #ffffff;
}

@media (max-width: 1200px) {
    .promo__title {
        font-size: 36px;
        padding-bottom: 42px;
        max-width: 455px;
    }
}

@media (max-width: 768px) {
    .promo__title {
        max-width: 100%;
        text-align: center;
    }
}

@media (max-width: 560px) {
    .promo__title {
        font-size: 36px;
    }
}

.promo__title::after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 170px;
    height: 1px;
    background: currentColor;
}

@media (max-width: 1200px) {
    .promo__title::after {
        width: 116px;
    }
}

@media (max-width: 768px) {
    .promo__title::after {
        width: 170px;
        margin: 0 auto;
    }
}

.promo__subtitle {
    max-width: 270px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    padding-top: 42px;
    padding-bottom: 42px;
    color: #fff;
}

@media (max-width: 1200px) {
    .promo__subtitle {
        font-size: 14px;
        margin-top: 31px;
        margin-bottom: 31px;
        max-width: 184px;
    }
}

@media (max-width: 768px) {
    .promo__subtitle {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .promo__button {
        width: 270px;
    }
}

.promo__form {
    position: relative;
    display: flex;
    align-self: flex-start;
    background: #ffffff;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .promo__form {
        margin-top: 56px;
    }
}

@media (max-width: 560px) {
    .promo__form {
        margin-top: 56px;
    }
}

.promo__form-elements {
    width: 100%;
}

.promo__form-title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #333333;
    padding-top: 33px;
    padding-bottom: 33px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .promo__form-title {
        font-size: 18px;
    }
}

@media (max-width: 560px) {
    .promo__form-title {
        font-size: 14px;
    }
}

.promo__inputs {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 45px;
    margin-bottom: 75px;
}

@media (max-width: 560px) {
    .promo__inputs {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.promo__form-btn {
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.promo__form-btn:hover {
    background: var(--button-hover-color);
    transition: 0.3s;
}

/* section promo end */

/* section social */

.social {
    background: var(--social-bg-color);
}

@media (max-width: 560px) {
    .social {
        padding-top: 31px;
        padding-bottom: 44px;
    }
}

.social__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .social__title {
        margin: 0 auto;
    }
}

.social__subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    padding-top: 18px;
    padding-bottom: 18px;
}


@media (max-width: 1200px) {
    .social__subtitle {
        font-size: 18px;
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

@media (max-width: 768px) {
    .social__subtitle {
        text-align: center;
    }
}

@media (max-width: 560px) {
    .social__subtitle {
        text-align: center;
    }
}

.social__text {
    max-width: 470px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    padding-top: 18px;
    padding-bottom: 18px;
}

@media (max-width: 1200px) {
    .social__text {
        font-size: 14px;
        padding-top: 13px;
        padding-bottom: 13px;
    }
}

@media (max-width: 768px) {
    .social__text {
        text-align: center;
    }
}

@media (max-width: 560px) {
    .social__text {
        text-align: center;
    }
}

.social__links {
    display: flex;
    align-items: center;
    padding-left: 0;
}

@media (max-width: 768px) {
    .social__links {
        margin: 0 auto;
    }
}

@media (max-width: 560px) {
    .social__links {
        margin: 0 auto;
    }
}

.social__links-item {
    list-style: none;
    margin-left: 30px;
}

@media (max-width: 1200px) {
    .social__links-item {
        margin-left: 20px;
    }
}

.social__links-item:nth-child(1) {
    margin-left: 0;
}

.social__links-img {
    width: 70px;
    height: 70px;
}

@media (max-width: 1200px) {
    .social__links-img {
        width: 64px;
        height: 64px;
    }
}

@media (max-width: 1200px) {
    .social__links-img {
        width: 48px;
        height: 48px;
    }
}

@media (max-width: 768px) {
    .social__links-img {
        padding-bottom: 10px;
    }
}

@media (max-width: 560px) {
    .social__links-img {
        width: 26px;
        height: 26px;
    }
}

/* section social end */

/* section tabs start */

.tabs {
    padding-top: 100px;
}

.tabs__container>input[type="radio"] {
    display: none;
}

.tabs__container>div {
    /* скрыть контент по умолчанию */
    display: none;
    border: 1px solid #e0e0e0;
    font-size: 16px;
}

  /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab__btn-1:checked~#tabs__content-1, #tab__btn-2:checked~#tabs__content-2, #tab__btn-3:checked~#tabs__content-3 {
    display: block;
}

.tabs__container>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 10px 65px 10px 65px;
    line-height: 19px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    top: 1px;
}

@media (max-width: 560px) {
    .tabs__container>label {
        padding: 10px 25px 10px 25px;
    }
}

.tabs__btn {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.tabs__container>label:not(:first-of-type) {
    border-left: none;
}

.tabs__container>input[type="radio"]:checked+label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.tabs__content {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;    
}

@media (max-width: 1200px) {
    .tabs__content {
        padding-left: 50px;
    }
}

@media (max-width: 560px) {
    .tabs__content {
        padding-left: 0;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 1200px) {
    .tabs__content-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.tabs__content-title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    padding-top: 47px;
    padding-bottom: 47px;
}

@media (max-width: 1200px) {
    .tabs__content-title {
        font-size: 24px;
        padding-top: 33px;
        padding-bottom: 33px;
    }
}

@media (max-width: 768px) {
    .tabs__content-title {
        font-size: 18px;
    }
}

@media (max-width: 560px) {
    .tabs__content-title {
        text-align: center;
    }
}

.tabs__content-desc {
    max-width: 570px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px
}

@media (max-width: 1200px) {
    .tabs__content-desc {
        font-size: 14px;
    }
}

@media (max-width: 560px) {
    .tabs__content-desc {
        text-align: center;
    }
}

.tabs__content-img {
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .tabs__content-img {
        margin-left: 25px;
    }
}

@media (max-width: 560px) {
    .tabs__content-img {
        display: none;
    }
}

.tabs__content-btn {
    margin-top: 27px;
}

@media (max-width: 1200px) {
    .tabs__content-btn {
        width: 232px;
        margin-top: 38px;
    }
}

@media (max-width: 768px) {
    .tabs__content-btn {
        width: 180px;
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: 16px;
    }
}

@media (max-width: 560px) {
    .tabs__content-btn {
        width: 240px;
        margin-top: 29px;
        margin-bottom: 30px;
    }
}

.tabs__content-btn:hover {
    background: var(--button-hover-color);
    transition: 0.3s;
}

/* section tabs end */

/* section benefits start*/

.benefits {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 560px) {
    .benefits {
        padding-top: 0;
        padding-bottom: 60px;
    }
}

.benefits__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .benefits__card:last-child {
        margin-top: 15px;
    }
}

.benefits__img {
    width: 170px;
    height: 170px;
}

@media (max-width: 1200px) {
    .benefits__img {
        width: 147px;
        height: 147px;
    }
}

@media (max-width: 768px) {
    .benefits__img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 560px) {
    .benefits__img {
        width: 147px;
        height: 147px;
        margin-top: 10px;
    }
}

.benefits__card-title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    padding-top: 38px;
    padding-bottom: 38px;
    margin-bottom: 8px;
}

@media (max-width: 1200px) {
    .benefits__card-title {
        font-size: 18px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@media (max-width: 768px) {
    .benefits__card-title {
        font-size: 16px;
    }
}

@media (max-width: 560px) {
    .benefits__card-title {
        font-size: 18px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.benefits__card-descr {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

@media (max-width: 1200px) {
    .benefits__card-descr {
        font-size: 14px;
        margin-top: 9px;
    }
}

/* section benefits end */

/* section pricing start*/

.pricing {
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--pricing-bg-color);
}

@media (max-width: 560px) {
    .pricing {
        padding-top: 0;
        padding-bottom: 26px;
    }
}

.pricing__card {
    transition: 0.3s;
}

@media (max-width: 560px) {
    .pricing__card {
        margin-top: 27px;
    }
    .pricing__card:first-child {
        margin-top: 0;
    }
}

.pricing__card_active:hover {
    content: '';
    transform: translateY(-5%);
}

.pricing__card-title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    background: #333333;
    padding-top: 18px;
    padding-bottom: 18px;
}

@media (max-width: 768px) {
    .pricing__card-title {
        font-size: 18px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.pricing__card-cost {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
    background: #333333;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 2px solid #F5F5F5;
    border-bottom: 2px solid #F5F5F5;
}

@media (max-width: 768px) {
    .pricing__card-cost {
        font-size: 24px;
        padding-top: 22px;
        padding-bottom: 22px;
    }
}

@media (max-width: 560px) {
    .pricing__card-cost {
        padding-top: 28px;
        padding-bottom: 28px;
    }
}

.pricing__card-desc {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    background: #333333;
    padding-top: 16px;
    padding-bottom: 16px;
}

@media (max-width: 768px) {
    .pricing__card-desc {
        font-size: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.pricing__card-space {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--text-color);
    background: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 4px solid #f5f5f5;
    cursor: pointer;
}

@media (max-width: 768px) {
    .pricing__card-space {
        font-size: 14px;
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

/* section pricing end */

/* section reviews start */

.reviews {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 560px) {
    .reviews {
        padding-top: 0;
        padding-bottom: 32px;
    }
}

.reviews__card-text {
    position: relative;
    background: var(--reviews-card-bg-color);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 38px 20px 37px;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .reviews__card-text {
        font-size: 14px;
    }
}

.reviews__card-text::before {
    content: '';
    border-style: solid;
    border-width: 20px 15px 0 15px;
    border-color: var(--reviews-card-bg-color) transparent transparent transparent;
    position: absolute;
    bottom: 0%;
    transform: translateY(100%);
}

.reviews__person {
    display: flex;
    margin-top: 66px;
    align-items: center;
}

@media (max-width: 768px) {
    .reviews__person {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

.reviews__person-img {
    width: 70px;
    height: 70px;
}

@media (max-width: 1200px) {
    .reviews__person-img {
        width: 63px;
        height: 63px;
    }
}

@media (max-width: 560px) {
    .reviews__person-img {
        width: 57px;
        height: 57px;
    }
}

.reviews__person-information {
    margin-left: 30px;
}

@media (max-width: 1200px) {
    .reviews__person-information {
        margin-left: 22px;
    }
}

.reviews__person-name {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

@media (max-width: 1200px) {
    .reviews__person-name {
        font-size: 18px;
        padding-top: 9px;
        padding-bottom: 9px;
        margin-bottom: 9px;
    }
}

@media (max-width: 560px) {
    .reviews__person-name {
        font-size: 14px;
    }
}

.reviews__person-position {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

@media (max-width: 1200px) {
    .reviews__person-position {
        font-size: 14px;
    }
}

/* section reviews end */

/* section design start*/

.design {
    position: relative;
    background-image: url('../images/design/design-bg.png');
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;
}

@media (max-width: 560px) {
    .design {
        padding-top: 0;
        padding-bottom: 68px;
        background-image: url('../images/design/design-bg-mob.jpg');
    }
}

.design::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 0;
}

.section-head .section-head_light {
    position: relative;
    color: #fff;
}

.section-head_light .section-head__title::after {
    background: #fff;
}

.design__button {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 370px;
}

@media (max-width: 1200px) {
    .design__button {
        width: 318px;
    }
}

@media (max-width: 768px) {
    .design__button {
        width: 280px;
        font-size: 16px;
    }
}

/* section design end */

/* section contact start*/

.contact {
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact__form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.contact__form-inputs {
    padding-bottom: 50px;
}

.contact__input {
    width: 100%;
    margin: 0 0 17px 0;
}

.contact__textarea {
    min-height: 231px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

.contact__button {
    display: inline-block;
    margin: 0 auto;
    width: 370px;
    height: 58px;
}

@media (max-width: 1200px) {
    .contact__button {
        font-size: 16px;
        width: 280px;
    }
}

@media (max-width: 560px) {
    .contact__button {
        width: 288px;
        font-size: 18px;
        margin-top: 50px;
    }
}

.contact__button:hover {
    background: var(--button-hover-color);
    transition: 0.3s;
}

/* section contact end */

/* modal window start */

.modal {
    position: relative;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal__content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.modal__content-elements {
    position: relative;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 10px;
    max-width: 470px;
}

.modal-close {
    position: absolute;
    right: 0;
    margin-right: 20px;
    color: var(--accentcolor);
    font-size: 72px;
    font-weight: bold;
    cursor: pointer;
}

.modal__content-title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #333333;
    padding-top: 33px;
    padding-bottom: 33px;
    margin: 0 auto;
}

.modal-inputs {
    margin-top: 45px;
    margin-bottom: 75px;
}

.modal__content-btn {
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.modal__content-btn:hover {
    background: var(--button-hover-color);
    transition: 0.3s;
}

/* modal window end */

/* footer start*/

.footer {
    background: #000000;
}

.footer__links-container>ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-top: 35px;
    margin: 0 auto;
}

.footer__links-item {
    width: 54px;
    height: 54px;
    margin-left: 32px;
}

@media (max-width: 1200px) {
    .footer__links-item {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 560px) {
    .footer__links-item {
        width: 26px;
        height: 26px;
    }
}

.footer__links-item:first-child {
    margin-left: 0;
}

svg:hover path {
    transition: 0.3s;
    fill: var(--accentcolor);
}

.footer__copyright {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 27px;
    padding-bottom: 27px;
}

@media (max-width: 1200px) {
    .footer__copyright {
        font-size: 14px;
    }
}

/* footer end */